<div class="container">
  <button class="btn btn-primary" (click)="clickMe()">ChildClass</button>
  <p>{{ data }}</p>
  <!-- <div>
    <li *ngFor="let i of heros">{{ i.name }} department:{{ i.department }}</li>
  </div> -->
  <div *ngFor="let hero of heros">
    <p class="lifeheading">{{ hero.name }}</p>
    <p class="lifedepartment">{{ hero.department }}</p>
  </div>
  <app-life-content>
    <div class="content_header">Hello content projection</div>
    <div class="content_footer">Hello content projection footer</div>
  </app-life-content>
  <h1>Content</h1>
  <ng-content></ng-content>
  <p>Hello</p>
</div>
