.nav {
  background: indigo;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  box-shadow: 1px 1px 10px rgb(241, 230, 230);
}
.nav > ul {
  list-style: none;
}
.nav > ul > li {
  display: inline-block;
}
.nav > ul > li {
  margin: auto 10px;
  text-align: center;
  text-transform: uppercase;
}
a {
  color: #fff;
  text-decoration: none;
}
.active-link a {
  color: #fff;
  border-bottom: 4px solid greenyellow;
}
a:hover {
  color: hotpink;
  text-decoration: none;
}

.filtering_body {
  margin-top: 20px;
  padding: 20px;
}
