<!-- <h1>{{ title }}</h1>

<button bind-disabled="isDisabled">Click me</button><br /><br />
<input id="inputId" type="text" value="Tom" /> <br /><br />
<h3>Style binding</h3>
<p>WIth styled propery binding</p>
<button style="color: red" [style.font-size.px]="fontSize">My Button</button>
<p>With ngStyle</p>
<button style="color: red" [ngStyle]="addStyles()">My Button</button>
<h1>Ng class</h1>
<button class="colorClass" [class]="'italicsClass'">Class</button>
<button class="colorClass" [ngClass]="addClasses()">MuNgClass</button> -->
<!-- <h1>Two-way-binding</h1>
<input
  type="text"
  style="width: 100%"
  [value]="subTitle"
  (input)="subTitle = $event.target.value"
/>
<br />
<h3>you entered {{ subTitle }}</h3>
<input [(ngModel)]="name" />
<br />
<h3>you entered {{ name }}</h3> -->
<div class="container mt-5">
  <!-- <app-templete-form></app-templete-form> -->
  <!-- <app-user-input></app-user-input> -->
  <!-- <app-life-cycle></app-life-cycle> -->
  <app-joke-list></app-joke-list>
  <!-- <app-reactive-form></app-reactive-form> -->
</div>
